body {
    background-color: black;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0px;
    background-image: url("../img/backgroundImage3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.blurFilter {
    background-color: rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.containerLeft, 
.containerRight {
    flex: 0 0 24%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerMiddle {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.island {
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
    position: relative;
}

.islandTopLeft, .islandBottomLeft, .islandTopRight, .islandBottomRight {
    flex: auto;
    transition: all 0.5s ease-out;
}

.islandTopCenter {
    flex: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.removeMargin {
    animation: removeMargin 1s ease-out forwards;
}

.islandBottomCenter {
    flex: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    transition: all 0.5s ease-out;
}

.dayDiv {
    width: calc(33.33% - 20px); /* Divide width and leave space for margins */
    background-color: rgba(255, 255, 255, 0.00);
    height: 100%;
    margin-top: 25px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 0 10px; /* Horizontal margin for equal spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.dayDiv:hover {
    border-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
}

.initialPhase {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.initialPhaseBottom {
    flex: 10%;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 400px;
    height: 40px;
    transform: scale(1.3);
}

.searchButton {
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all 0.3s ease-out;
}

.searchButton:hover {
    border-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
}

.bx {
    color:rgba(255,255,255,0.5);
    transition: all 0.3s ease-out;
}

.bx:hover {
    color:rgba(255,255,255,0.9);
}

#country {
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    padding: 5px;
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px;
    transition: all 0.3s ease-out;
}

#country:focus {
    border-color: rgba(255, 255, 255, 0.9);
    outline: none;
    background-color: rgba(255, 255, 255, 0.15);
}

#country::placeholder {
    color: rgba(255,255,255,0.5);
}

.countryOptions {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.00);
    height: 400px;
    margin-top: 25px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.hourlyContainer {
    width: calc(100% - 40px); /* Full width minus padding on each side */
    background-color: rgba(255, 255, 255, 0.0);
    height: calc(30% - 40px); /* Takes full height minus spacing */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute; /* Positions it within .islandTopCenter */
    bottom: 20px; /* Spacing from the bottom */
    left: 20px; /* Equal spacing from the left */
    right: 20px; /* Equal spacing from the right */
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

.slide-in-left {
    animation: slideInLeft 1.2s ease-out forwards;
}

.slide-in-right {
    animation: slideInRight 1.2s ease-out forwards;
}

/* for sunny background in top left island js:144 */
.sun {
	width: 200px; /*variable*/
	height: 200px; /*variable*/
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes removeMargin {
    0% {
        margin-top: 120px;
    }
    100% {
        margin-top: 0;
    }
}

/* Sliding animation for left and right containers */
@keyframes slideInLeft {
    0% {
        transform: translateX(-50vw); /* Off-screen to the left */
    }
    100% {
        transform: translateX(0); /* Final position (on-screen) */
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(50vw); /* Off-screen to the right */
    }
    100% {
        transform: translateX(0); /* Final position (on-screen) */
    }
}